/* Reset and Common Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #FBF9FF;
    padding-left: 30px;
    padding-right: 30px;
}


/* Header and Nav Section */
header {
    background-color: #4A4756;
    padding: 1% 2%;
}

.header-main {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    color: azure;
    padding-bottom: 24px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    color: #F9F6FF;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.navigation a:hover {
    color: azure;
    text-decoration: underline;
}

/* Hero Section */
.hero {
    position: relative;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 500px;
    opacity: 0.8;
}

.hero-sub-heading {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #886EBD;
    color: #F9F6FF;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Sections */
.heading {
    color: #886EBD;
    text-transform: uppercase;
    font-size: 24px;
    padding: 26px;
    text-decoration: underline;
}

/* About Me */

.about-me {
    background-color: rgba(195, 149, 247, 0.133);
}

.about-me-para {
    padding: 24px;
    line-height: 1.5em;
    margin-bottom: 36px;
    padding-bottom: 36px;
}

/* Work Section */
.work {
    text-align: center; 
    padding: 50px 0; 
    background-color: #89898920;
}

.para {
font-size: 18px;
font-style: italic;
padding-bottom: 34px;

}
.content {
    padding: 0 20px;
}
.work-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Automatically adjust column size */
    grid-gap: 20px; /* Adjust gap between grid items */
}

.work-img-1 {
    width: 100%;
    height: auto;
    max-width: 100%; 
}

.work-img {
    width: 100%;
    height: auto;
    max-width: 100%; /* This ensures the imgs don't exceed their container */
}


/* Contact Me */

.contact-me {
    padding: 50px 0; /* Adjust padding as needed */
    background-color: rgba(195, 149, 247, 0.133); /* Adjust background color as needed */
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item {
    margin-bottom: 20px; /* Adjust margin between contact items */
}

.contact-label {
    font-weight: bold;
    margin-right: 10px; /* Adjust spacing between label and link */
}

.contact-link {
    color: #6A33E9; /* Adjust link color as needed */
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline; /* Add underline on hover */
}


/* Media Queries */
@media screen and (max-width: 768px) {
    .navigation {
        flex-direction: column;
        align-items: center;
    }

    .navigation ul {
        flex-direction: column;
    }

    .navigation li {
        margin: 10px 0;
    }

    .hero-sub-heading {
        font-size: 12px;
        bottom: 10px;
        right: 10px;
    }
}
